.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  max-width: 400px;
}

.item {
  flex-basis: 100%;
}

.loading {
  color: white;
  flex-basis: 100%;
  margin: 100px 0;
  text-align: center;
}

.loading svg {
  width: 100px;
}
